@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

/* =========================================================================================================== */
/*             DEFAULT                                                                                         */
/* =========================================================================================================== */
:root{
    --active: #0c5460;
    --background-white: #e8e4e1;
    --back-brandcrump: #e2e8f0;
    --background-cover: url('../images/background-cover.jpg');

    --font-white: #d6d6d6;
    --font-normal: rgba(0, 0, 0, 0.72);
    --font-style: 'Quicksand', sans-serif;
}

*{
    font-style: normal;
    font-family: var(--font-style);
}


.jumbo-background{
    background-image: url('./images/config/background.jpg');
    background-size: cover;
    color: #ffffff;
    font-weight: 700;
}


/* =========================================================================================================== */
/*             NAVBAR                                                                                          */
/* =========================================================================================================== */
.logo-site{
    display: flex;
    align-items: center;
}

.logo-site h1{
    font-family: 'Dancing Script';
    text-shadow: 4px 5px 5px #4a5568;
}

.logo-site img{
    width: 5rem;
}

/* =========================================================================================================== */
/*             BREADCRUMP                                                                                         */
/* =========================================================================================================== */
.breadcrumb{
    padding: 6px;
    border-radius: 4px;
    background: var(--back-brandcrump);
}

.breadcrumb-item.active{
    color: var(--active);
}

/* =========================================================================================================== */
/*             PAGINATOR                                                                                          */
/* =========================================================================================================== */
.pagination{
    justify-content: center;
}

/* =========================================================================================================== */
/*             FOOTER                                                                                          */
/* =========================================================================================================== */
.footer {
    background: #152F4F;
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer li a {
    color: white;
    transition: color .2s;
}

.footer li a:hover{
     text-decoration:none;
     color:#4180CB;
 }

.footer .about-company i{
    font-size: 25px;
}

.footer a {
    color: white;
    transition: color .2s;
}

.footer a:hover{
    color:#4180CB;
}

.footer .location i{
    font-size: 18px;
}

.footer .copyright p{
    border-top:1px solid rgba(255,255,255,.1);
}


